In [2]:
import pandas as pd
import numpy as np
import sklearn

from sklearn import preprocessing

In [6]:
df = pd.read_csv("clean_data_dec05.csv")
df.head()

                                               Tweet          sentiment
0   luvjuan maygodblessallsoul hopepeac grace peo...  Storngly Positive
1   murtazaview pdm not permit hold dec thirteen ...            Neutral
2   cbsla restaur owner forc shut coronaviru rest...           Nagative
3   sumoh7 worth read IN full gtgtgt remdesivir c...           Positive
4   lauriegarrett stellar detail report florida g...           Positive

In [7]:
X = df['Tweet']
y = df['sentiment']

In [31]:
y

0        Storngly Positive
1                  Neutral
2                 Nagative
3                 Positive
4                 Positive
               ...
12281    Storngly Positive
12282    Storngly Positive
12283    Storngly Positive
12284             Nagative
12285             Positive
Name: sentiment, Length: 12286, dtype: object

In [8]:
lab_enc =preprocessing.LabelEncoder()

y_encoded = lab_enc.fit_transform(y)

In [6]:
np.unique(y_encoded)

array([0, 1, 2, 3, 4])

In [7]:
np.unique(y)

array(['Nagative', 'Neutral', 'Positive', 'Storngly Nagative',
       'Storngly Positive'], dtype=object)

In [8]:
label_text = list(np.unique(y))
label_numeric = list(np.unique(y_encoded))

In [34]:
df_labels = pd.DataFrame(list(zip(label_text,label_numeric)),columns=['Text','Numeric'])

In [35]:
df_labels

                Text  Numeric
0           Nagative        0
1            Neutral        1
2           Positive        2
3  Storngly Nagative        3
4  Storngly Positive        4

In [ ]:
#df_labels.to_csv('Labels.csv')